body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

nav {
  background: #003366;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 60px;
  text-align: center;
  background: #f4f4f4;
}

input, textarea {
  display: block;
  margin: 10px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  background: #003366;
  color: white;
  border: none;
}

/* Responsive */
@media(max-width:600px){
  nav ul { flex-direction: column; }
}

/* Dark Mode */
.dark {
  background: #121212;
  color: white;
}
