body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}
.nav-links a.active {
  border-bottom: 2px solid #fff;
}


nav {
  background: #003366;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  padding: 60px;
  text-align: center;
  background: #f4f4f4;
}

input, textarea {
  display: block;
  margin: 10px;
  padding: 8px;
}

button {
  padding: 8px 15px;
  background: #003366;
  color: white;
  border: none;
}

/* Responsive */
@media(max-width:600px){
  nav ul { flex-direction: column; }
}

/* Dark Mode */
.dark {
  background: #121212;
  color: white;
}

form {
    max-width: 400px;
    margin: auto;
}

select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.error {
    color: red;
    font-size: 12px;
}

#successMsg {
    color: green;
    text-align: center;
    font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b4da2;
  padding: 15px 20px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #0b4da2;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
.menu-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: #0b4ea2;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }
}
